@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet CSS fix for React Leaflet */
.leaflet-container {
    width: 100%;
    height: 100%;
}

/* Pixelated tiles */
.leaflet-tile {
    image-rendering: pixelated;
}
